.wrapper {
    margin: 0 auto;
}

/* 导航指引 */
.header {
    /* 固定定位 */
    position: fixed;
    padding-top: 8px;
    padding-left: 148px;
    height: 40px;
    width: 100%;
    background-color: #2b303b;
}

.header .wrapper {
    display: flex;
}
.header .logo a {
    display: block;
    width: 82px;
    height: 25px;
    background-image: url(/m-jubensha-project/images/logo.png);
    background-repeat: no-repeat;
    font-size: 0;
}

.header .nav ul {
    display: flex;
    margin-left: 450px;
}

.header .nav a {
    padding-right: 8px;
    padding-left: 8px;
    color: #fff;
    border-right: 2px solid #fff;
}

.header .nav a:hover {
    color: red;
}
/* banner区域 */
.banner .wrapper {
    display: flex;
    padding-left: 240px;
    height: 480px;
    /* width: 1300px; */
    background-image: url(/m-jubensha-project/images/banner.png);
    background-position: 200px 0;
}

.banner .left {
    padding: 50px 20px 50px 30px;
    width: 246px;
    background-color: #1b2a3f;
}

.banner .left a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;

    background-image: url(/m-jubensha-project/images/more.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.banner .left a:hover {
    color: #307f59;
}

/* 主体内容 */
.text .wrapper .hd {
    margin-top: 45px;
    text-align: center;
    
}

.text h3 ,
.text h4 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 28px;
}

.text h4 {
    font-size: 18px;
}
.text .wrapper .bd {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    width: 1200px;
    height: 460px;
    /* background-color: pink; */
    margin: 0 auto;

    border: 1px solid #ccc;
    border-radius: 10px;
}

.text .right {
    margin-left: 74px;
    width: 580px;
    height: 350px;
    /* background-color: skyblue; */
    
}

.text .right img {
    width: 580px;
    height: 350px;
}

.text .left p {
    font-size: 14px;
    color: #666;
    line-height: 30px;
}

.text .left a {
    margin-top: 28px;
    display: block;
    width: 160px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    color: #000;
    /* background-color: pink; */
    border: 2px solid #18bc39;
}

.text .left a:hover {
    background-color: #1ba53d;
}

/* 版权区域 */
.footer .wrapper {
    margin-top: 140px;
    padding: 34px 245px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color: #2e3033;
}

.footer .left {
    display:  flex;
}

.footer .left dl {
    margin-right: 100px;
    
}

.footer .left dt a {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    color: #fff;
}

.footer .left dd a {
    font-size: 13px;
    color: #ccc;
}

.footer .left dd a:hover {
    color: #0797e4;
}

.footer .right p {
    margin-bottom: 20px;
    width: 160px;
    line-height: 20px;
    font-size: 13px;
    color: #ccc;
}

.footer .right a {
    display: block;
    width: 190px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background-color: #00a4ff;
}

.footer .right a:hover {
    background-color: #0797e4;

}





